<div class="hold-transition login-page">
  <div class="login-box">
    <!-- /.login-logo -->
    <div class="card card-outline card-primary">
      <div class="card-header text-center">
        <img src="../assets/MFS.png" alt="" />
      </div>
      <div class="card-body">
        <p class="login-box-msg">Sign in to start your session</p>

        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="input-group mb-3">
            <input
              type="text"
              name="username"
              class="form-control"
              formControlName="username"
              placeholder="Username"
            />

            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="form.touched && form.controls['username'].errors"
          >
            <div *ngIf="form.controls['username'].hasError('required')">
              Username is required
            </div>
          </div>
          <div class="input-group mb-3">
            <input
              type="password"
              class="form-control"
              formControlName="password"
              placeholder="Password"
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="form.touched && form.controls['password'].errors"
          >
            <div *ngIf="form.controls['password'].hasError('required')">
              Password is required
            </div>
          </div>
          <div>
            <button type="submit" class="btn btn-primary btn-block">
              Sign In
            </button>
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="isLoginFailed">
            Login failed: {{ errorMessage }}
          </div>
        </form>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /.login-box -->
</div>
