<mat-tab-group>
  <mat-tab label="Biểu đồ">
    <div class="container py-0 my-0">
      <div class="chart-container">
        <div class="chart">
          <canvas
            baseChart
            [data]="pieChartData"
            [type]="pieChartType"
            [options]="pieChartOptions"
            [plugins]="pieChartPlugins"
          >
          </canvas>
        </div>
      </div>
    </div>
    <div class="container py-0 my-0">
      <div>
        <canvas
          baseChart
          [data]="revenueLineChartData"
          [options]="lineChartOptions"
          [type]="lineChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"
        ></canvas>
      </div>

      <div>
        <canvas
          baseChart
          [data]="profitLineChartData"
          [options]="lineChartOptions"
          [type]="lineChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"
        ></canvas>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Số liệu"> </mat-tab>
</mat-tab-group>
